// Color variables-===================================

$main-text-color: #777;
$primary-text-color: #58e1c1;
$primary-bg-c: #51ddfc;
$second-bg-c: #63cc82;
$third-bg-c: #e4757a;
$forth-bg-c: #fd7856;
$five-bg-c: #927bc1;
$bt-color: #fff;