 /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: $bt-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $primary-bg-c;
  }
  
  .error {
    background-color: $third-bg-c;
  }
  
  .info {
    background-color: $five-bg-c;
  }
  
  .success {
    background-color: $second-bg-c;
  }
  
  .warning {
    background-color: $forth-bg-c;
  }
  