/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $full;
    color: $bt-color;
    border: none;
    padding: $pd;
    text-transform: uppercase;
    border-radius: $bo-r;
    @media (min-width: $break-xs) {
      .btn {
        padding: $ml 30px;
      }
      .btn + .btn {
        margin-left: $ml;
      }
    }    
  }
  
  .default {
    background-color: $primary-bg-color;
  }
  
  .error {
    background-color: $third-bg-color;
  }
  
  .info {
    background-color: $five-bg-color;
  }
  
  .success {
    background-color:$second-bg-color;
  }
  
  .warning {
    background-color: $forth-bg-color;
  }
  
  