/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $full;
    color: $bt-color;
    border: none;
    padding: $pd;
    text-transform: uppercase;
    border-radius: $bo-r;
    @media (min-width: $break-xs) {
      .btn {
        padding: $ml 30px;
      }
    }    
  }
  @media (min-width: $break-xs) {
    .btn + .btn {
      margin-left: $ml;
    }
  }



  .default {
    background-color: $primary-bg-color;
      &:hover {
        background-color: lighten($primary-bg-color, 10%);
      }
    
  }
  
  .error {
    background-color: $third-bg-color;
   
      &:hover {
        background-color: lighten($third-bg-color, 10%);
      }

}
  
  .info {
    background-color: $five-bg-color;

    &:hover {
        background-color: lighten($five-bg-color, 10%);
      }
 
}
  
  .success {
    background-color:$second-bg-color;

    &:hover {
        background-color: lighten($second-bg-color, 10%);

}
}
  
  .warning {
    background-color: $forth-bg-color;
  
    &:hover {
        background-color: lighten($forth-bg-color, 10%);
      }

}