/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: $full;
  }
  
  .input{
    display: block;
    width: 94%;
    margin: $ml auto 0;
    border: none;
    padding: $ml;
    border-bottom: $bo-r solid $primary-text-color;
  }
  
  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  
  