
/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include block;
     margin-top: $ml;
     max-width: $full; 
     max-height: $full;
   }
   
   .img-frame {
     @include block;
     margin-top: $ml;
     max-width: $full;
     padding: 13px;
     border: 1px solid #ccc;
   }
   
   .img-logo {
     @include block;
     @media (min-width: $break-xs) {
      & {
        margin-left: initial;
        margin-right: initial;
      }
      
      }
   }
   