/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
    @include d-flex;
    padding-left: 0;
    flex-basis: $full;
    @media (min-width: $break-xs) {
      & {
          flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
  }
}
    
  .nav-link {
    text-align: center;
    border-radius: $bo-r;
    padding: $pd;
    display: block;
    width: $full;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
      @media (min-width: $break-xs) {
        & {
          flex-basis: 100px;
      }
      }
  }
  
  .nav-link:hover {
    color: $bt-color;
    background-color: $primary-text-color;
  }