/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $primary-text-color;
    margin-left: $ml;
  }
  
  .headline-secondary {
    font-weight: $small;
    color: $main-text-color;
  }
  
  .link {
    color: $primary-bg-color;
    font-weight: $bold;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $small;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $primary-text-color;
    border-radius: $bo-r;
  }
  
  